.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

form {
    background-color: rgba(158, 139, 114, 0.737);
    width: 30vw;
    height: 40vh;
    padding: 20px;
    padding-bottom: 30px;
    margin-bottom: 10vh;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.add-btn {
    height: 2.5rem;
    width: 5rem;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 16px;
    color:white;
    border: 1px solid white;
    background-color: rgb(167, 54, 54);
    transition: 0.5s;
}

.add-btn:hover {
    transform: translateY(-0.1rem);
    background-color: rgb(110, 35, 35);
}